@model HRM.Models.FamilyRelation

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FamilyRelation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nhân viên quan hệ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Relation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Relation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-route-id="@Model.FamilyRelationId" asp-action="DeleteConfirmed">
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger"><i style="font-size: 25px" class="fa fa-trash"></i></button>
            <a class="btn btn-primary" asp-action="Index" asp-controller="FamilyRelations"><i class="fa fa-arrow-left" style="font-size: 25px"></i></a>
        </div>
    </form>
</div>