@model Department

@{
    ViewBag.Title = ViewData["DepartmentName"];
}

<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">
    <div>
        <div class="card">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="header">
                <div class="col-md-9" style="padding-left: 0">
                    <h4 class="title"><b>DANH SÁCH NHÂN VIÊN</b></h4>
                    <p class="category">Danh sách các phòng ban trong công ty</p>
                </div>
                <div class="pull-right col-md-3">
                    <a class="btn btn-primary" asp-controller="Employees" asp-action="AddEmployee" style="margin-bottom: 2em;">Thêm Nhân Viên</a>
                </div>
            </div>
            <div class="content table-responsive table-full-width">
       
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>MSNV</th>
                            <th>Tên nhân viên</th>
                            <th>Chức danh</th>
                            <th>Công việc</th>
                            <th>Mô tả</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var departmentTitle in Model.DepartmentTitles)
                        {
                            <tr>
                                <td><a asp-controller="Employees" asp-action="EditEmployee" asp-route-employeeID="@departmentTitle.Employee.EmployeeID">@departmentTitle.Employee.EmployeeCode</a></td>
                                <td>@departmentTitle.Employee.FullName</td>
                                <td>@departmentTitle.Title</td>
                                <td>@departmentTitle.Employee.DepartmentTasks.Count</td>
                                <td>@departmentTitle.Description</td>
                                <td>
                                    <form method="post">
                                        <a class="btn btn-sm btn-primary" href="#">
                                            <i style="font-size: 20px" class="fa fa-pencil"></i>
                                        </a>

                                        <button type="submit"
                                                class="btn btn-sm btn-danger">
                                            <i style="font-size: 20px" class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="card">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="header">
            <div class="col-md-9" style="padding-left: 0">
                <h4 class="title"><b>DANH SÁCH NHÂN VIÊN</b></h4>
                <p class="category">Danh sách các phòng ban trong công ty</p>
            </div>
            <div class="pull-right col-md-3">
                <a class="btn btn-primary" asp-action="AddTask" asp-route-departmentID="@Model.DepartmentID" style="margin-bottom: 2em;">Thêm Công Việc</a>
            </div>
        </div>
     
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>MSNV</th>
                    <th>Tên nhân viên</th>
                    <th>Chức danh</th>
                    <th>Tên công việc</th>
                    <th>Mô tả</th>
                    <th>Giờ làm</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.DepartmentTasks)
                {
                    var thisEmployeeTitle = task.Employee.DepartmentTitles.FirstOrDefault().Title;
                    <tr>
                        <td><a asp-controller="Employees" asp-action="EditEmployee" asp-route-employeeID="@task.Employee.EmployeeID">@task.Employee.EmployeeCode</a></td>
                        <td>@task.Employee.FullName</td>
                        <td>@thisEmployeeTitle</td>
                        <td>@task.Title</td>
                        <td>@task.Description</td>
                        <td>
                            <a asp-route-departmentTaskID="@task.DepartmentTaskID" asp-action="UpdateWorkHours" class="btn" style="width:100%">
                                @task.WorkHours
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp->
                                <i style="font-size: 20px" class="fa fa-pencil"></i>
                            </a>

                            <button type="submit"
                                    class="btn btn-sm btn-danger">
                                <i style="font-size: 20px" class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>