@model DepartmentTask
@{
    ViewBag.Title = ViewBag.DepartmentName;
}


@*@if (User.IsInRole("Manager"))
    {
        <a class="btn btn-primary" asp-controller="Departments" asp-action="AddEmployee">Thêm Phòng Ban</a>
    }*@

<div id="content-header">
    <div id="breadcrumb"><a asp-controller="Departments" asp-action="DepartmentDetail" asp-route-departmentID="@Model.Department.DepartmentID" title="@Model.Department.DepartmentName" class="tip-bottom"> @ViewBag.DepartmentName </a> </div>
</div>
<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">
    <div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div style="text-align: center; margin: 2em;">
            <h3><b>QUẢN LÝ CÔNG VIỆC</b></h3>
        </div>

        <form asp-action="UpdateWorkHours" method="post">
            <input type="hidden" asp-for="DepartmentTaskID"/>
            <div style="margin: auto; width:60%;">
                <table class="table table-striped table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="col-md-3"><span>MSNV</span></th>
                            <th><span>Tên nhân viên</span></th>
                            <th><span>Công việc</span></th>
                            <th><span>Mô tả</span></th>
                            <th><span>Giờ làm</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-3"><span>@Model.Employee.EmployeeCode</span></td>
                            <td>@Model.Employee.FullName</td>
                            <td>@Model.Title</td>
                            <td>@Model.Description</td>
                            <td><input type="number" asp-for="WorkHours" style="" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin: auto">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </form>
    </div>
</div>