@model Employee

@{
    ViewBag.Title = "Thêm nhân viên";
}

<h4 class="text-danger">@ViewData["ErrorMessage"]</h4>

<h4 class="text-danger">@TempData["ErrorMessage"]</h4>

<span asp-validation-summary="All"></span>

<form asp-action="AddEmployee" method="post">
    <div class="row">
        <div class="col-lg-7">
            <div class="card card-user">
                <div class="image">
                    <img src="~/images/wall.jpg" alt="...">
                </div>
                <div class="content">
                    <div class="author">
                        <img class="avatar border-white" src="~/images/13528872_930129437096013_535751867252842230_n.jpg" alt="...">
                        <h4 class="title">
                            <span>Mr. Simple</span>
                            <br>
                            @*<a href="#"><small></small></a>*@
                        </h4>
                    </div>
                    <hr />
                    <div>
                        <input type="hidden" asp-for="EmployeeID" />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Công ty</label>
                                    <input type="text" class="form-control border-input" disabled="" placeholder="Company" value="TNHH Tứ thành viên Huy Nghĩa Thương Hậu">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Họ & Tên</label>
                                    <input type="text" asp-for="FullName" maxlength="100" class="form-control border-input" placeholder="Họ và Tên">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" maxlength="50" asp-for="Email" class="form-control border-input" placeholder="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Điện thoại</label>
                                    <input type="tel" asp-for="PhoneNumber" maxlength="13" class="form-control border-input" placeholder="Số điện thoại">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>CMND</label>
                                    <input type="text" class="form-control border-input" maxlength="9" placeholder="Chứng minh nhân dân" asp-for="@Model.CitizenID">
                                    <span asp-validation-for="CitizenID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>Tạm trú</label>
                                    <input type="text" asp-for="TempAddress" maxlength="100" class="form-control border-input" placeholder="Địa chỉ tạm trú">
                                    <span asp-validation-for="TempAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text" maxlength="100" class="form-control border-input" placeholder="Địa chỉ" asp-for="@Model.Address">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Quốc gia</label>
                                    <input type="text" class="form-control border-input" value="Việt Nam" readonly>
                                    <span asp-validation-for="Region" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Thành phố</label>
                                    <input type="text" maxlength="50" class="form-control border-input" placeholder="Thành phố" asp-for="@Model.City">
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Tỉnh</label>
                                    <input type="text" maxlength="50" class="form-control border-input" asp-for="@Model.PlaceOfProvide" placeholder="Tỉnh" />
                                    <span asp-validation-for="PlaceOfProvide" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Quê quán</label>
                                    <input type="text" maxlength="50" class="form-control border-input" placeholder="Quê quán" asp-for="@Model.HomeTown">
                                    <span asp-validation-for="HomeTown" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn active col-lg-6" style="border: 0.5px solid #808080;">
                                                <input type="radio" value="Nam" id="nam" name="gender" checked><span><i class="fa fa-male"></i></span>
                                            </label>
                                            <label class="btn col-lg-6" style="border: 0.5px solid #808080">
                                                <input type="radio" value="Nữ" id="nu" name="gender"><span><i class="fa fa-female"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <input type="date" class="form-control border-input" asp-for="@Model.DateOfBirth" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Lưu thay đổi</button>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <hr>
            </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="content">
                    <div class="content">
                        <input type="hidden" asp-for="EmployeeID" />
                        <ul class="list-unstyled team-members">

                            @*<li>
                                <div class="row">
                                    <div class="col-xs-3" style="padding-top: 0.5em">
                                        <p class="pull-right">Mã số nhân viên</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control border-input" disabled="" asp-for="EmployeeCode">
                                        <br>
                                    </div>
                                </div>
                            </li>*@

                            <li>
                                <div class="row">
                                    <div class="col-xs-3" style="padding-top: 0.5em">
                                        <p class="pull-right">Phòng ban</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <select class="form-control border-input" asp-for="DepartmentCode" asp-items="ViewBag.Departments">
                                            <option value="">-- Chọn phòng ban --</option>
                                        </select>
                                        <span asp-validation-for="DepartmentCode" class="text-danger"></span>
                                        <br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-xs-3" style="padding-top: 0.5em">
                                        <p class="pull-right">Chức danh</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <select class="form-control border-input" asp-for="DepartmentTitle" asp-items="ViewBag.DepartmentTitles">
                                            <option value="">-- Chọn chức danh --</option>
                                        </select>
                                        <span asp-validation-for="DepartmentTitle" class="text-danger"></span>
                                        <br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-xs-3" style="padding-top: 0.5em">
                                        <p class="pull-right">Loại hợp đồng</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <select class="form-control border-input" asp-for="ContractID" asp-items="ViewBag.Contracts">
                                            <option value="">-- Chọn hợp đồng --</option>
                                        </select>
                                        <span asp-validation-for="DepartmentTitle" class="text-danger"></span>
                                        <br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-xs-3" style="padding-top: 0.5em">
                                        <p class="pull-right">Ngày tham gia</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="date" class="form-control border-input" asp-for="DateOfJoining">
                                        <span asp-validation-for="DateOfJoining" class="text-danger"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>