@model FamilyRelation

@{
    ViewData["Title"] = "Delete";
}

<div class="alert alert-danger">
    <h4>Bạn có chắc muốn xóa mối quan hệ này?</h4>
</div>

<div class="deleteFamily">
    <div class="card">
        <div class="content">
            <input type="hidden" id="EmployeeID" name="EmployeeID" value="2">
            <ul class="list-unstyled team-members">

                <li>
                    <div class="row">
                        <div class="col-xs-4" style="padding-top: 0.5em">
                            <p class="pull-right">Họ và Tên</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="form-control border-input">@Html.DisplayFor(model => model.Name)</p>
                            <br>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-4" style="padding-top: 0.5em">
                            <p class="pull-right">Ngày sinh</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="form-control border-input">@Html.DisplayFor(model => model.DateOfBirth)</p>
                            <br>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-4" style="padding-top: 0.5em">
                            <p class="pull-right">Quan hệ</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="form-control border-input">@Html.DisplayFor(model => model.Relation)</p>
                            <br>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-4" style="padding-top: 0.5em">
                            <p class="pull-right">Nghề nghiệp</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="form-control border-input">@Html.DisplayFor(model => model.Occupation)</p>
                            <br>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-4" style="padding-top: 0.5em">
                            <p class="pull-right">Địa chỉ</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="form-control border-input">@Html.DisplayFor(model => model.Address)</p>
                            <br>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-4" style="padding-top: 0.5em">
                            <p class="pull-right">Nơi làm việc</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="form-control border-input">@Html.DisplayFor(model => model.WorkPlace)</p>
                            <br>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-4" style="padding-top: 0.5em">
                            <p class="pull-right">Điện thoại</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="form-control border-input">@Html.DisplayFor(model => model.PhoneNumber)</p>
                            <br>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-4" style="padding-top: 0.5em">
                            <p class="pull-right">Ghi chú</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="form-control border-input">@Html.DisplayFor(model => model.Description)</p>
                            <br>
                        </div>
                    </div>
                </li>

            </ul>
            <div style="margin:auto; width: 30%">
                <form asp-route-id="@Model.FamilyRelationId" asp-action="DeleteFamilyConfirmed">
                    <div class="form-actions no-color">
                        <button style="margin-right: 1em" type="submit" class="btn btn-danger"><i style="font-size: 25px" class="fa fa-trash"></i></button>
                        <a class="btn btn-primary" asp-action="EditEmployee" asp-controller="Employees" asp-route-employeeID="@Model.EmployeeId"><i class="fa fa-arrow-left" style="font-size: 25px"></i></a>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
