@model Employee

<div id="content-header">
    <div id="breadcrumb"><a asp-controller="Employees" asp-action="Index" title="Quản lý nhân viên" class="tip-bottom"> Quản lý nhân viên </a> <a asp-controller="Employees" asp-action="EditEmployee"> Chỉnh sửa nhân viên </a></div>
</div>
<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">
    <h2 style="text-align: center; margin-top: 2rem">THÔNG TIN NHÂN VIÊN</h2>
    <hr />
    <div class="row" style="margin-left: 1em;margin-right: 1em">
        <div class="col-6">
            <div class="frame">
                <div class="employeeDetail">
                    <div class="detailTitle">
                        <div class="detailCaption">
                            <i class="fa fa-address-book-o"></i> Chi Tiết Nhân Viên
                        </div>
                    </div>
                    <div class="detailBody">
                        <form>
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Ảnh đại diện</label>
                                        <div class="col-9">
                                            <div class="">
                                                <img style="width: 100px; height: 100px" src="http://froiden.cloudapp.net/hrm_demo/profileImages/default.jpg" alt="ProfileImage">
                                                <input type="hidden" name="hiddenImage" value="default.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Họ và Tên</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.FullName</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Giới tính</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Gender</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Ngày sinh</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.DateOfBirth</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Nơi sinh</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.PlaceOfBirth</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Email</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Email</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Quê quán</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.HomeTown</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Địa chỉ</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Address</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Tỉnh</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.PlaceOfProvide</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Thành phố</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.City</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Quốc gia</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Region</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Tạm trú</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.TempAddress</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Số điện thoại</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.PhoneNumber</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Số CMND</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.CitizenID</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Nghỉ việc</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.OutOfWork  </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="frame">
                <div class="employeeDetail">
                    <div class="detailTitle">
                        <div class="detailCaption">
                            <i class="fa fa-address-book-o"></i> Thân Nhân
                        </div>
                    </div>
                    <div class="detailBody">
                        <table class="table-striped table-bordered">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Họ và Tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Nghề nghiệp</th>
                                    <th>Nơi làm</th>
                                    <th>Điện thoại</th>
                                    <th>Quan hệ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{  if (Model.FamilyRelations != null)
                                    {
                                        foreach (var p in Model.FamilyRelations)
                                        {
                                            <tr>
                                                <td><a asp-controller="FamilyRelations" asp-action="Details" asp-route-id="@p.FamilyRelationId">@p.Name</a></td>
                                                <td>@p.DateOfBirth</td>
                                                <td>@p.Occupation</td>
                                                <td>@p.WorkPlace</td>
                                                <td>@p.PhoneNumber</td>
                                                <td>@p.Relation</td>
                                                <td>
                                                    <a class="fa fa-trash btn btn-alert" style="width:100%" asp-controller="FamilyRelations" asp-action="Delete" asp-route-familyRelationID="@p.FamilyRelationId"></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>Không có</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            <a class="fa fa-plus btn btn-success" style="width:100%" asp-controller="FamilyRelations" asp-action="Create" asp-route-employeeID="@Model.EmployeeID"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="frame">
                <div class="employeeDetail">
                    <div class="detailTitle">
                        <div class="detailCaption">
                            <i class="fa fa-address-book-o"></i> Phòng Ban Trực Thuộc
                        </div>
                    </div>
                    <div class="detailBody">
                        <table class="table-striped table-bordered">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Phòng</th>
                                    <th>Mã phòng</th>
                                    <th>Chức danh</th>
                                    <th>Số lượng việc</th>
                                    <th>Mô tả</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{  if (Model.Departments != null)
                                    {
                                        foreach (var d in Model.Departments)
                                        {
                                            <tr>
                                                <td><a asp-controller="Departments" asp-action="DepartmentDetail" asp-route-id="@d.DepartmentID">@d.DepartmentName</a></td>
                                                <td>@d.DepartmentCode</td>
                                                <td>
                                                    @foreach (var title in @d.DepartmentTitles)
                                                    {
                                                        @title.Title
                                                    }
                                                </td>
                                                <td>@d.DepartmentTasks.Count</td>
                                                <td>@d.Description</td>
                                                <td>
                                                    <a class="fa fa-trash btn btn-alert" style="width:100%" href="#"></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>Không có</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            <a class="fa fa-plus btn btn-success" style="width:100%" asp-controller="FamilyRelations" asp-action="Create" asp-route-employeeID="@Model.EmployeeID"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
