@model Employee

<div id="content-header">
    <div id="breadcrumb"><a asp-controller="Employees" asp-action="Index" title="Quản lý nhân viên" class="tip-bottom"> Quản lý nhân viên </a> <a asp-controller="Employees" asp-action="EditEmployee"> Chỉnh sửa nhân viên </a></div>
</div>
<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">
    <h2 style="text-align: center; margin-top: 2rem">THÔNG TIN NHÂN VIÊN</h2>
    <hr />
    <div class="row" style="margin-left: 1em;margin-right: 1em">
        <div class="col-6">
            <div class="frame">
                <div class="employeeDetail">
                    <div class="detailTitle">
                        <div class="detailCaption">
                            <i class="fa fa-address-book-o"></i> Chi Tiết Nhân Viên
                        </div>
                    </div>
                    <div class="detailBody">
                        <form>
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Ảnh đại diện</label>
                                        <div class="col-9">
                                            <div class="">
                                                <img style="width: 100px; height: 100px" src="http://froiden.cloudapp.net/hrm_demo/profileImages/default.jpg" alt="ProfileImage">
                                                <input type="hidden" name="hiddenImage" value="default.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Họ và Tên</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.FullName</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Giới tính</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Gender</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Ngày sinh</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.DateOfBirth</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Nơi sinh</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.PlaceOfBirth</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Email</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Email</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Quê quán</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.HomeTown</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Địa chỉ</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Address</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Tỉnh</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.PlaceOfProvide</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Thành phố</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.City</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Quốc gia</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Region</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Tạm trú</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.TempAddress</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Số điện thoại</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.PhoneNumber</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Số CMND</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.CitizenID</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Phòng ban</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.Department.DepartmentName</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-content">
                                        <label class="control-label col-3">Nghỉ việc</label>
                                        <div class="col-9">
                                            <div class="right-body">
                                                <span>@Model.OutOfWork</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>

</div>
