@model EmployeesListViewModel
@{
    ViewBag.Title = "Quản lý nhân viên";
}


<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">
    <div style="margin: auto;">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div style="text-align: center;margin: 2em;">
            <h3><b>DANH SÁCH NHÂN VIÊN</b></h3>
        </div>
        <a class="btn btn-primary" asp-controller="Employees" asp-action="AddEmployee" style="margin-bottom: 2em;">Thêm Nhân Viên</a>
        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>MSNV</th>
                    <th>Họ và Tên</th>
                    <th>Điện thoại</th>
                    <th>Phòng ban</th>
                    <th>Email</th>
                    <th style="width: 9em"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td style="text-align: center"><a asp-action="EditEmployee" asp-route-employeeID="@employee.EmployeeID">@employee.EmployeeCode</a></td>
                        <td>@employee.FullName</td>
                        <td>@employee.PhoneNumber</td>
                        <td>
                            @foreach (var department in employee.Departments)
                            {
                                @department.DepartmentName
                            }
                        </td>
                        <td>@employee.Email</td>
                        <td>
                            <form asp-action="DeleteConfirmed" asp-controller="Employees" asp-route-employeeID="@employee.EmployeeID" method="post">
                                <a class="btn btn-primary" asp-controller="Employees" asp-action="EditEmployee" asp-route-employeeID="@employee.EmployeeID">
                                    <i style="font-size: 20px" class="fa fa-pencil"></i>
                                </a>

                                <button type="submit"
                                        class="btn btn-danger">
                                    <i style="font-size: 20px" class="fa fa-trash"></i>
                                </button>

                            </form>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>