@model IEnumerable<Employee>
@{
    ViewBag.Title = "Quản lý nhân viên";
}

<h4 class="text-danger">@ViewData["ErrorMessage"]</h4>

<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">
    <div style="margin: auto;">
        <div asp-validation-summary="All" class="text-danger"></div>
        <a class="btn btn-primary" asp-controller="Employees" asp-action="AddEmployee" style="margin-bottom: 2em;">Thêm Nhân Viên</a>

        <div class="card">
            <div class="header">
                <h4 class="title">DANH SÁCH NHÂN VIÊN</h4>
                <p class="category">Danh sách các nhân viên trong công ty</p>
            </div>
            <div class="content table-responsive table-full-width">           
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>MSNV</th>
                            <th>Họ và Tên</th>
                            <th>Điện thoại</th>
                            <th>Phòng ban</th>
                            <th>Email</th>
                            <th style="width: 9em"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                            <tr>
                                <td><a asp-action="EditEmployee" asp-route-employeeID="@employee.EmployeeID">@employee.EmployeeCode</a></td>
                                <td>@employee.FullName</td>
                                <td>@employee.PhoneNumber</td>
                                <td>
                                    @foreach (var departmentName in employee.DepartmentTitles.Select(dt => dt.Department.DepartmentName).Distinct())
                                    {
                                        @departmentName <br />
                                    }
                                </td>
                                <td>@employee.Email</td>
                                <td>
                                    <div>
                                        <a class="btn btn-simple btn-primary" asp-controller="Employees" asp-action="EditEmployee" asp-route-employeeID="@employee.EmployeeID">
                                            <i style="font-size: 20px" class="fa fa-pencil"></i>
                                        </a>

                                        <a class="btn btn-simple btn-danger" asp-controller="Employees" asp-action="DeleteEmployee" asp-route-employeeID="@employee.EmployeeID">
                                            <i style="font-size: 20px" class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>