@model IEnumerable<HRM.Models.Salary>

@{
    ViewData["Title"] = "Bảng Lương";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Tạo tính lương</a>
</p>

<div class="container-fluid">
    <div style="margin: auto;">
        <div asp-validation-summary="All" class="text-danger"></div>
        <a class="btn btn-primary" asp-action="Create" style="margin-bottom: 2em;">Tạo tính lương</a>

        <div class="card">
            <div class="header">
                <h4 class="title">DANH SÁCH NHÂN VIÊN</h4>
                <p class="category">Danh sách các nhân viên trong công ty</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>@Model.ElementAt(0).Comment</th>
                            <th>@Model.ElementAt(0).Earned</th>
                            <th>@Model.ElementAt(0).Employee</th>
                            <th>@Model.ElementAt(0).PayPerHour</th>
                            <th>@Model.ElementAt(0).RecordDate</th>
                            <th style="width: 9em"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Giờ lưu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Earned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Earned)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SalaryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SalaryID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SalaryID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
